---
import Modal from "@/components/base/Modal.astro";
import AllSkillsList from "@/components/skills/AllSkillsList.astro";
import { Icon } from "astro-icon/components";

const modalId = "skillsModal";

const buttons = [
  {
    ariaLabel: "Select all skills",
    text: "Select All",
    id: "skills-check-all-btn",
  },
  {
    ariaLabel: "Deselect all skills",
    text: "Deselect All",
    id: "skills-uncheck-all-btn",
  },
];
---

<button
  title="Highlight my skills"
  aria-label="Highlight my skills"
  class={Astro.props.class}
  id={`open-modal:${modalId}`}
>
  <Icon name="ri:brush-fill" class="size-5" />
</button>

<Modal modalId={modalId} title="Highlight Skills" buttons={buttons} closePrimary={true}>
  <div class="space-y-3">
    <p>
      Highlight the skills you're interested in to emphasize them on the
      website.
    </p>
    <AllSkillsList class="space-y-3" input={true} />
  </div>
</Modal>

<script>
  function updateChildStyle(checkbox: HTMLInputElement) {
    const skillStyle = checkbox.checked ? "true" : "false";
    [...document.getElementsByClassName("child-" + checkbox.id)].forEach(
      (element) => element.setAttribute("data-checked", skillStyle),
    );
  }

  document.addEventListener("DOMContentLoaded", () => {
    const selectAllBtn = document.getElementById(
      "skills-check-all-btn",
    ) as HTMLButtonElement;
    const deselectAllBtn = document.getElementById(
      "skills-uncheck-all-btn",
    ) as HTMLButtonElement;
    const modalSkillBoxes = [
      ...document.querySelectorAll(".input-skill-box"),
    ] as HTMLInputElement[];
    const childSkillBoxes = [
      ...document.querySelectorAll(".child-skill-box"),
    ] as HTMLElement[];

    const toggleCheckboxes = (checked: boolean) => {
      modalSkillBoxes.forEach((checkbox) => (checkbox.checked = checked));
      childSkillBoxes.forEach((element) => {
        element.setAttribute("data-checked", checked ? "true" : "false");
      });
    };
    selectAllBtn.addEventListener("click", () => toggleCheckboxes(true));
    deselectAllBtn.addEventListener("click", () => toggleCheckboxes(false));
    modalSkillBoxes.forEach((checkbox) => {
      updateChildStyle(checkbox);
      checkbox.addEventListener("change", () => {
        updateChildStyle(checkbox);
      });
    });
  });
</script>
