---
import type { SkillSet } from "@/CVMapper";
import { PROCESSED_SKILL_PATTERN } from "@/CVMapper";
import { createIDFromText, extractMatches } from "@/data-helpers";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

export interface Props {
  class?: string;
  firstTitle?: string;
  entityTitle?: string;
  entityUrl?: string;
  headerIcons?: { url: string; icon: string; name: string }[] | undefined;
  subtitle?: string;
  summary: string;
  body: Record<string, string[]> | undefined;
  details?: Record<string, string[]> | undefined;
  image?: string;
  skills: SkillSet;
}

const {
  firstTitle,
  entityTitle,
  entityUrl,
  headerIcons,
  subtitle,
  summary,
  details,
  image,
  body,
  skills,
}: Props = Astro.props;
---

<div class={Astro.props.class}>
  <div class={headerIcons && "flex items-center gap-2 justify-between"}>
    <h4 class="flex-inline">
      {firstTitle && <span>{firstTitle}</span>}
      {firstTitle && entityTitle && <span class="text-skin-primary"> @ </span>}
      {
        entityTitle &&
          (entityUrl ? (
            <a
              href={entityUrl}
              class="btn-text group gap-3"
              target="_blank"
              rel="noopener noreferrer"
              title={`Visit ${entityTitle}`}
              aria-label={`Visit ${entityTitle}`}
            >
              {entityTitle}
              <Icon
                name="ri:arrow-up-line"
                class="inline size-6 rotate-45 group-hover:-translate-y-0.5 group-hover:translate-x-0.5 print:hidden"
              />
            </a>
          ) : (
            <span>{entityTitle}</span>
          ))
      }
    </h4>
    {
      headerIcons &&
        headerIcons.map(({ url, icon, name }) => (
          <a
            href={url}
            title={`View in ${name}`}
            aria-label={`View in ${name}`}
            target="_blank"
            rel="noopener"
            class="btn-icon"
          >
            <Icon name={icon} class="size-6" />
          </a>
        ))
    }
  </div>
  {subtitle && <h6 class="text-skin-secondary">{subtitle}</h6>}
  <div class="my-4 space-y-4">
    <p class="text-skin-primary" set:html={summary} />
    {
      body &&
        Object.entries(body).map(([key, value]) => (
          <div>
            <h6>{key}</h6>
            <ul class="flex list-disc flex-col gap-2 text-skin-primary">
              {value.map((item) => (
                <li class="ml-4 marker:text-skin-accent">
                  <p set:html={item} />
                </li>
              ))}
            </ul>
          </div>
        ))
    }
    {
      details && (
        <details class="group mt-4 space-y-4 print:hidden">
          <summary class="btn-text flex gap-1.5 text-xs">
            <Icon
              name="ri:arrow-up-s-line"
              class="size-4 duration-200 group-open:rotate-180"
            />
            <span class="group-open:hidden">Show more</span>
            <span class="hidden group-open:block">Show less</span>
            <div
              class={`dynamic-child relative ${createIDFromText(
                JSON.stringify(details),
                "child-",
                PROCESSED_SKILL_PATTERN,
              )}`}
              data-selected="false"
            />
          </summary>
          {details &&
            Object.entries(details).map(([key, value]) => (
              <div>
                <h6 aria-label={`Details for ${key}`}>{key}:</h6>
                <ul class="flex list-disc flex-col gap-2 text-skin-primary">
                  {value.map((item) => (
                    <li class="ml-4 marker:text-skin-accent">
                      <p set:html={item} />
                    </li>
                  ))}
                </ul>
              </div>
            ))}
        </details>
      )
    }
  </div>
  {
    image && (
      <a data-src={image}>
        <Image
          src={image}
          alt=""
          width={800}
          height={1080}
          class="mt-3 max-w-full rounded-lg"
        />
      </a>
    )
  }
</div>

<style>
  .dynamic-child[data-selected="true"]::after {
    content: "•";
    @apply absolute bottom-0.5 right-0 text-2xl text-skin-accent;
  }
</style>
