---
import { CV } from "@/CVRepository";
import SkillsList from "@/components/skills/SkillsList.astro";

const { skills } = CV;

interface Props {
  input?: boolean;
  class?: string;
}

const { input = false }: Props = Astro.props;
---

<div class=`${Astro.props.class}`>
  <SkillsList
    title="Tools"
    type="tools"
    items={skills.tools || []}
    input={input}
  />
  <SkillsList
    title="Languages"
    type="languages"
    items={skills.languages || []}
    input={input}
  />
  <div>
    <h4 class="mb-2 print:mb-0">Technologies</h5>
    {
      skills.languages!.map((language) => {
        const tech = language.technologies;
        return tech ? (
          <SkillsList
            groupBy={language.name}
            type="languages"
            items={tech}
            input={input}
          />
        ) : null;
      })
    }
  </div>
</div>
