---
import { CV } from "@/CVRepository";
import SkillsList from "@/components/skills/SkillsList.astro";

const { skills } = CV;

interface Props {
  input?: boolean;
  class?: string;
}

const { input = false }: Props = Astro.props;
---

<div class=`${Astro.props.class}`>
  <div class="space-y-2 print:space-y-0">
    <h4>Tools</h4>
    <SkillsList type="tools" items={skills.tools || []} input={input} />
  </div>
  <div class="space-y-2 print:space-y-0">
    <h4>Languages</h4>
    <SkillsList type="languages" items={skills.languages || []} input={input} />
  </div>
  <div>
    <div class="mb-2 print:mb-0">
      <h4>Technologies</h4>
      {
        !input && (
          <p class="text-sm text-skin-secondary">
            (Standard libraries are not included)
          </p>
        )
      }
    </div>
    {
      skills.languages!.map((language) => {
        const tech = language.technologies;
        return tech ? (
          <SkillsList
            groupBy={language.name}
            type="languages"
            items={tech}
            input={input}
          />
        ) : null;
      })
    }
  </div>
</div>
