---
import { CV } from "@/CVMapper";
import SkillsList from "@/components/skills/SkillsList.astro";

const { skills } = CV;

interface Props {
  input?: boolean;
  class?: string;
}

const { input = false }: Props = Astro.props;
---

<div class=`${Astro.props.class} [&>*]:space-y-1`>
  <div>
    <h4>Tools</h4>
    <SkillsList items={skills.tools || []} input={input} />
  </div>
  <div>
    <h4>Languages</h4>
    <SkillsList items={skills.languages || []} input={input} />
  </div>
  <div>
    <h4>Technologies</h4>
    {
      !input && (
        <p class="text-sm text-skin-secondary print:text-xs">
          (Standard libraries are not included)
        </p>
      )
    }
    {
      skills.languages!.map((language) => {
        const tech = language.technologies;
        return tech ? (
          <SkillsList groupBy={language.name} items={tech} input={input} />
        ) : null;
      })
    }
  </div>
</div>
