---
import { CV } from "../../CVRepository";
import { getFilterClassNames } from "@/skill-filter";
import TimelineCard from "../TimelineCard.astro";

const { education, educationSkills } = CV;
---

<section class={Astro.props.class}>
  <h3 class="section-title1">Education</h3>
  <ul class=`md:muted-box grid  ${getFilterClassNames(educationSkills)}`>
    {
      education.map(
        ({ institution, startDate, endDate, area, url, skills, summary }) => {
          return (
            <li class={`${getFilterClassNames(skills)}`}>
              <TimelineCard
                startDate={startDate}
                endDate={endDate}
                title={area}
                titleUrl={url}
                subtitle={institution}
                skills={skills}
                summary={summary}
              />
            </li>
          );
        },
      )
    }
  </ul>
</section>
