---
import { CV } from "@/CVRepository";
import TimelineCard from "@/components/base/cards/TimelineCard.astro";

const { education } = CV;
---

<section class={Astro.props.class}>
  <h2>Education</h2>
  <ul class="md:muted-box grid gap-4 md:gap-0">
    {
      education.map(
        ({ institution, startDate, endDate, area, url, skills, summary }) => {
          return (
            <li>
              <TimelineCard
                startDate={startDate}
                endDate={endDate}
                firstTitle={area}
                entityUrl={url}
                entityTitle={institution}
                skills={skills}
                summary={summary}
              />
            </li>
          );
        },
      )
    }
  </ul>
</section>
