---
import { CV } from "../../CVRepository";
import { getFilterClassNames } from "@/skill-filter";
import TimelineCard from "../TimelineCard.astro";
import { filterNonNullEntries } from "@/data-helpers";
import DynamicSection from "../DynamicSection.astro";

const { work, workSkills } = CV;
---

<DynamicSection
  class={Astro.props.class}
  title="Experience"
  ulClass={`md:muted-box grid ${getFilterClassNames(workSkills)}`}
>
  {
    work.map(
      ({
        name,
        url,
        startDate,
        endDate,
        position,
        summary,
        responsibilities,
        achievements,
        skills,
        location,
        location_type,
      }) => {
        const details = filterNonNullEntries({
          Responsibilities: responsibilities,
          Achievements: achievements,
        });

        return (
          <li class={`${getFilterClassNames(skills)}`}>
            <TimelineCard
              startDate={startDate}
              endDate={endDate}
              firstTitle={position}
              entityTitle={name}
              entityUrl={url}
              subtitle={`${location} - ${location_type}`}
              summary={summary}
              details={details}
              skills={skills}
            />
          </li>
        );
      },
    )
  }
</DynamicSection>
