---
import { CV } from "@/CVMapper";
import TimelineCard from "@/components/base/cards/TimelineCard.astro";

const { work } = CV;
---

<section class={Astro.props.class}>
  <h2>Experience</h2>
  <ul class="md:card-box grid gap-4 md:gap-0">
    {
      work.map(
        ({
          name,
          url,
          startDate,
          endDate,
          position,
          summary,
          body,
          details,
          skills,
          location,
          location_type,
        }) => {
          return (
            <li>
              <TimelineCard
                body={body}
                startDate={startDate}
                endDate={endDate}
                firstTitle={position}
                entityTitle={name}
                entityUrl={url}
                subtitle={`${location} - ${location_type}`}
                summary={summary}
                details={details}
                skills={skills}
              />
            </li>
          );
        },
      )
    }
  </ul>
</section>
