---
import ItemSkills from "../ItemSkills.astro";
import { CV } from "../../CVRepository";
import { getFilterClassNames } from "@/skill-filter";
import TextList from "../TextList.astro";
import { Icon } from "astro-icon/components";

const { work, workSkills } = CV;
---

<section class={Astro.props.class}>
  <h3 class="section-title1">Experience</h3>
  <ul class=`md:muted-box grid ${getFilterClassNames(workSkills)}`>
    {
      work.map(
        ({
          name,
          startDate,
          endDate,
          position,
          summary,
          responsibilities,
          achievements,
          skills,
          location,
          location_type,
        }) => {
          const startYear = new Date(startDate).getFullYear();
          const endYear =
            endDate != null ? new Date(endDate).getFullYear() : "Present";

          return (
            <li class={`${getFilterClassNames(skills)}`}>
              <div class="below-md-muted-box md:grid md:grid-cols-12">
                <header class="text-xs font-semibold md:col-span-2">
                  <div class="mt-1">
                    <time datetime={startDate} data-title={startDate}>
                      {startYear}
                    </time>{" "}
                    -{" "}
                    <time datetime={endDate} data-title={endDate}>
                      {endYear}
                    </time>
                  </div>
                </header>
                <div class="vertical-timeline md:col-span-10 md:pb-6">
                  <div class="timeline-item-points" />
                  <h3 class="text-lg" aria-label={`${position} - ${name}`}>
                    {position} @ {name}
                  </h3>
                  <p class="text-xs text-skin-muted">
                    {location} - {location_type}
                  </p>
                  <div class="my-4 space-y-2 text-sm">
                    <TextList title="Summary" items={summary} />
                    <details class="group mt-4 space-y-2 text-sm">
                      <summary class="flex cursor-pointer gap-1.5 text-xs text-skin-muted underline">
                        <Icon
                          name="ri:arrow-up-s-line"
                          class="size-4 duration-200 group-open:rotate-180"
                        />
                        <span class="group-open:hidden">Show more</span>
                        <span class="hidden group-open:block">Show less</span>
                      </summary>
                      <TextList
                        title="Responsibilities"
                        items={responsibilities}
                      />
                      {achievements && (
                        <TextList title="Achievements" items={achievements} />
                      )}
                    </details>
                  </div>
                  <ItemSkills skills={skills} />
                </div>
              </div>
            </li>
          );
        },
      )
    }
  </ul>
</section>

<style>
  @media (min-width: 768px) {
    .vertical-timeline {
      @apply relative before:absolute before:-ml-6 before:mt-2 before:h-full before:w-px before:bg-skin-muted;
    }
    .timeline-item-points {
      @apply absolute mt-2 size-2 -translate-x-[1.71rem] rounded-full bg-skin-muted ring-skin-fill;
    }
  }
</style>
