---
import { CV } from "../../CVRepository";
import TimelineCard from "../TimelineCard.astro";
import { filterNonNullEntries } from "@/data-helpers";

const { work } = CV;
---

<section class={Astro.props.class}>
  <h3 class="section-title1">Experience</h3>
  <ul class="md:muted-box grid gap-4 md:gap-0">
    {
      work.map(
        ({
          name,
          url,
          startDate,
          endDate,
          position,
          summary,
          responsibilities,
          achievements,
          skills,
          location,
          location_type,
        }) => {
          const details = filterNonNullEntries({
            Responsibilities: responsibilities,
            Achievements: achievements,
          });

          return (
            <li>
              <TimelineCard
                startDate={startDate}
                endDate={endDate}
                firstTitle={position}
                entityTitle={name}
                entityUrl={url}
                subtitle={`${location} - ${location_type}`}
                summary={summary}
                details={details}
                skills={skills}
              />
            </li>
          );
        },
      )
    }
  </ul>
</section>
