---
import { CV } from "@/CVMapper";
import SkillsList from "@/components/base/SkillsList.astro";

const { skills } = CV;

const toolsDescription =
  "List of development and DevOps tools used to streamline workflows, manage version control, facilitate containerization and orchestration, and enhance project management:";
const databasesDescription =
  "List of relational and non-relational databases and orms:";
const languagesDescription =
  "List of programming, markup and domain-specific languages:";
const techDescription =
  "List of third-party libraries, frameworks, testing tools, and modules/packages that extend the functionality of the listed languages:";
---

<section class={Astro.props.class}>
  <h2>Hard Skills</h2>
  <ul class=`[&>*]:space-y-2 [&>*]:card-box grid gap-4`>
    <li>
      <h4>Tools</h4>
      <p class="description cv:hidden">{toolsDescription}</p>
      <SkillsList items={skills.tools || []} />
    </li>
    <li>
      <h4>Databases</h4>
      <p class="description cv:hidden">{databasesDescription}</p>
      <SkillsList items={skills.databases || []} />
    </li>
    <li>
      <h4>Languages</h4>
      <p class="description cv:hidden">{languagesDescription}</p>
      <SkillsList items={skills.languages || []} />
    </li>
    <li>
      <h4>Languages technologies</h4>
      <p class="description cv:hidden">{techDescription}</p>
      <ul class="space-y-2">
        {
          skills.languages!.map((language) => {
            const tech = language.technologies;
            return tech ? (
              <li>
                <SkillsList groupBy={language.name} items={tech} />
              </li>
            ) : null;
          })
        }
      </ul>
    </li>
  </ul>
</section>

<style>
  .description {
    @apply text-sm text-skin-secondary;
  }
</style>
