---
import { CV } from "@/CVMapper";
import { Icon } from "astro-icon/components"; 

const { name, label, location, profiles, email, website, phone, contacts } =
  CV.basics;
const { city, region } = location;

const InfoItems = [
  { icon: "mdi:world", text: `${city}, ${region}` },
  { icon: "mdi:email", text: email },
  { icon: "mdi:phone", text: phone },
  { icon: "mdi:web", text: website.url, className: "not-print:hidden" },
];

const contactsAndEmail = [
  ...contacts,
  { network: "Email", url: `mailto:${email}`, icon: "mdi:email" },
];
---

<div class={`flex flex-col gap-1 ${Astro.props.class}`}>
  <h1 class="font-bold">{name}</h1>
  <h4 class="text-skin-secondary">{label}</h4>
  {
    InfoItems.map(({ icon, text, className }) => {
      return (
        <div
          class={`inline-flex items-center gap-2 text-skin-secondary ${className}`}
        >
          <Icon name={icon} class="size-5" />
          <p>{text}</p>
        </div>
      );
    })
  }
  <div class="inline-flex items-center gap-2 text-skin-secondary print:hidden">
    <Icon name="mdi:contact" class="size-5" />
    <p>Contacts:</p>
    <ul class="inline-flex gap-3">
      {
        contactsAndEmail.map(({ network, url, icon }) => (
          <a
            class="btn-icon"
            href={url}
            title={`Contact me on ${network}`}
            aria-label={`Contact me on  ${network}`}
            target="_blank"
            rel="noopener noreferrer"
          >
            <Icon name={icon} class="size-6" />
          </a>
        ))
      }
    </ul>
  </div>
  <div class="inline-flex items-center gap-2 text-skin-secondary print:hidden">
    <Icon name="mdi:web" class="size-5" />
    <p>Profiles:</p>
    <ul class="inline-flex gap-3">
      {
        profiles.map(({ network, url, icon }) => (
          <a
            class="btn-icon"
            href={url}
            title={`Visit ${network} profile`}
            aria-label={`Visit ${network} profile`}
            target="_blank"
            rel="noopener noreferrer"
          >
            <Icon name={icon} class="size-6" />
          </a>
        ))
      }
    </ul>
  </div>
</div>
