---
import { Image } from "astro:assets";
import ThemeSwitchBtn from "@/components/buttons/ThemeSwitchBtn.astro";
import CVBtn from "@/components/buttons/CVBtn.astro";
import LinksList from "@/components/base/LinksList.astro";
import { CV } from "@/CVMapper";
import { Icon } from "astro-icon/components";

const {
  name,
  label,
  location,
  profiles,
  email,
  website,
  phone,
  contacts,
  image,
  languages,
} = CV.basics;

const languagesText = languages
  .map((lang) => `${lang.fluency} ${lang.language}`)
  .join(", ");

const InfoItems = [
  { icon: "mdi:map-marker", text: `${location.city}, ${location.region}` },
  { icon: "mdi:language", text: languagesText },
  { icon: "mdi:email", text: email },
  { icon: "mdi:phone", text: phone },
  { icon: "mdi:web", text: website.url, className: "not-cv:hidden" },
];

const contactsAndEmail = [
  ...contacts,
  { network: "Email", url: `mailto:${email}`, icon: "mdi:email" },
];
---

<seccion
  class="cv:space-y-6 not-cv:flex-row-reverse below-md:space-y-6 not-cv:sm:flex"
>
  <div class="flex scale-90 items-center">
    <figure class="relative">
      <Image
        class="rounded-3xl"
        loading="eager"
        height={200}
        width={200}
        src={image}
        alt={name}
      />
      <div class="absolute -inset-3 cv:hidden">
        <div class="gradient-y-mask right-0"></div>
        <div class="gradient-y-mask left-0"></div>
        <div class="gradient-x-mask bottom-0"></div>
        <div class="gradient-x-mask top-0"></div>
      </div>
    </figure>
  </div>
  <div class="space-y-4 sm:flex-1 sm:space-y-5">
    <div class="cv:text-center">
      <h1 class="font-bold">{name}</h1>
      <h4 class="text-skin-secondary">{label}</h4>
    </div>
    <div class={`flex flex-col gap-1 ${Astro.props.class}`}>
      {
        InfoItems.map(({ icon, text, className }) => {
          return (
            <div
              class={`flex items-center gap-2 text-skin-secondary ${className}`}
            >
              <Icon name={icon} class="size-5 flex-shrink-0" />
              <p class="flex-1">{text}</p>
            </div>
          );
        })
      }
      <LinksList type="Contact" items={contactsAndEmail} />
      <LinksList type="Profile" items={profiles} />
    </div>
    <div class="flex gap-2 cv:hidden">
      <CVBtn class="btn-secondary" />
      <ThemeSwitchBtn class="btn-secondary" />
    </div>
  </div>
</seccion>

<style>
  .gradient-y-mask {
    @apply absolute -inset-y-10 w-[2px] bg-skin-accent/50 [mask-image:linear-gradient(to_top,transparent,white_5rem,white_calc(100%-5rem),transparent)];
  }
  .gradient-x-mask {
    @apply absolute -inset-x-10 h-[2px] bg-skin-accent/50 [mask-image:linear-gradient(to_left,transparent,white_5rem,white_calc(100%-5rem),transparent)];
  }
</style>
