---
import { CV } from "../../CVRepository";
import { getFilterClassNames } from "@/skill-filter";
import CardContenent from "../CardContenent.astro";
import { filterNonNullEntries } from "@/data-helpers";
import DynamicSection from "../DynamicSection.astro";

const { projects, projectsSkills } = CV;
---

<DynamicSection
  class={Astro.props.class}
  title="Projects"
  ulClass={`md:grid-cols-2 ${getFilterClassNames(projectsSkills)}`}
>
  {
    projects.map(
      ({ url, summary, highlights, name, github, image, skills }) => {
        const headerIcons = github
          ? [{ url: github as string, icon: "mdi:github", name: "GitHub" }]
          : undefined;
        const details = filterNonNullEntries({
          Highlights: highlights,
        });
        return (
          <li class={`muted-box ${getFilterClassNames(skills)}`}>
            <CardContenent
              entityTitle={name}
              entityUrl={url}
              headerIcons={headerIcons}
              summary={summary}
              details={details}
              image={image}
              skills={skills}
            />
          </li>
        );
      },
    )
  }
</DynamicSection>
