---
import { CV } from "@/CVMapper";
import CardContenent from "@/components/base/cards/CardContenent.astro";

const { projects } = CV;
---

<section class={Astro.props.class}>
  <h2>Projects</h2>
  <ul class="grid gap-4 md:grid-cols-2">
    {
      projects.map(
        ({ url, summary, body, details, name, github, image, skills }) => {
          const headerIcons = github
            ? [{ url: github as string, icon: "mdi:github", name: "GitHub" }]
            : undefined;
          return (
            <li class="muted-box">
              <CardContenent
                body={body}
                entityTitle={name}
                entityUrl={url}
                headerIcons={headerIcons}
                summary={summary}
                details={details}
                image={image}
                skills={skills}
              />
            </li>
          );
        },
      )
    }
  </ul>
</section>
