---
import ItemSkills from "./ItemSkills.astro";
import { Icon } from "astro-icon/components";
import type { Skills } from "../cv-types";
import { Image } from "astro:assets";

interface Props {
  title: string;
  titleUrl?: string;
  titleIcons?: { url: string; icon: string; name: string }[] | undefined;
  subtitle?: string;
  summary: string;
  details?: [string, string[]][] | undefined;
  image?: string;
  fancybox?: string;
  skills: Skills;
}

const {
  title,
  titleUrl,
  titleIcons,
  subtitle,
  summary,
  details,
  skills,
  image,
  fancybox,
}: Props = Astro.props;
---

<div class={titleIcons && "flex items-center gap-2 justify-between"}>
  {
    titleUrl ? (
      <a
        class="group flex items-center gap-[6px] text-lg hover:text-skin-hue hover:underline"
        href={titleUrl}
        title={`View ${title}`}
        target="_blank"
      >
        {title}
        <Icon
          name="ri:arrow-up-line"
          class="rotate-45 text-skin-hue group-hover:-translate-y-0.5 group-hover:translate-x-0.5"
        />
      </a>
    ) : (
      <h3 class="text-lg">{title}</h3>
    )
  }
  {
    titleIcons &&
      titleIcons.map(({ url, icon, name }) => (
        <a
          href={url}
          title={name}
          target="_blank"
          rel="noopener"
          class="opacity-75 hover:scale-125 hover:opacity-100"
        >
          <Icon name={icon} class="size-6" />
        </a>
      ))
  }
</div>
{subtitle && <p class="text-xs text-skin-muted">{subtitle}</p>}
<div class="my-4 space-y-2 text-sm">
  <p class="text-skin-muted">{summary}</p>
  {
    details && (
      <details class="group mt-4 space-y-2 text-sm">
        <summary class="flex cursor-pointer gap-1.5 text-xs text-skin-muted underline">
          <Icon
            name="ri:arrow-up-s-line"
            class="size-4 duration-200 group-open:rotate-180"
          />
          <span class="group-open:hidden">Show more</span>
          <span class="hidden group-open:block">Show less</span>
        </summary>
        {details.map(([key, value]) => (
          <div>
            <h4>{key}:</h4>
            <ul class="flex list-disc flex-col gap-2 text-skin-muted">
              {value.map((item) => (
                <li class="ml-4 marker:text-skin-hue">{item}</li>
              ))}
            </ul>
          </div>
        ))}
      </details>
    )
  }
</div>
{
  image && (
    <a data-src={image} data-fancybox={fancybox}>
      <Image
        src={image}
        alt=""
        width={800}
        height={1080}
        class="mt-3 max-w-full rounded-lg"
      />
    </a>
  )
}
<ItemSkills skills={skills} />
