---
import CardContenent from "./CardContenent.astro";
import type { Props as CardProps } from "./CardContenent.astro";

interface Props extends CardProps {
  startDate: string;
  endDate: string | null;
}

const {
  startDate,
  endDate,
  firstTitle,
  entityTitle,
  entityUrl,
  headerIcons,
  subtitle,
  summary,
  details,
  image,
  fancybox,
  skills,
}: Props = Astro.props;

const startYear = new Date(startDate).getFullYear();
const endYear = endDate != null ? new Date(endDate).getFullYear() : "Present";
---

<div class="below-md:muted-box md:grid md:grid-cols-12">
  <header class="text-xs font-semibold md:col-span-2">
    <div class="mt-1">
      <time datetime={startDate} data-title={startDate}>
        {startYear}
      </time>{" "}
      -{" "}
      <time datetime={endDate} data-title={endDate}>
        {endYear}
      </time>
    </div>
  </header>
  <div class="vertical-timeline md:col-span-10 md:pb-6">
    <div class="timeline-item-points"></div>
    <CardContenent
      firstTitle={firstTitle}
      entityTitle={entityTitle}
      entityUrl={entityUrl}
      subtitle={subtitle}
      summary={summary}
      details={details}
      skills={skills}
      entityUrl={entityUrl}
      headerIcons={headerIcons}
      image={image}
      fancybox={fancybox}
    />
  </div>
</div>

<style>
  @media (min-width: 768px) {
    .vertical-timeline {
      @apply relative before:absolute before:-ml-6 before:mt-2 before:h-full before:w-px before:bg-skin-muted;
    }
    .timeline-item-points {
      @apply absolute mt-2 size-2 -translate-x-[1.71rem] rounded-full bg-skin-muted ring-skin-fill;
    }
  }
</style>
