---
import "../theme.css";
import "../globals.css";
import ArtPlums from "@/components/ArtPlums.astro";
import { CV } from "../CVRepository";

interface Props {
  title: string;
}

const { title } = Astro.props;

const { image, website } = CV.basics;
const { url, description } = website;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/avatar.png" />
    <link rel="preload" as="image" href={image} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={url} />
    <meta name="twitter:card" content="summary_large_image" />
  </head>
  <body class="bg-skin-fill">
    <ArtPlums class="print:hidden" />
    <slot />
  </body>
</html>
